mixin sidebarItem(id)
  a(href=`http://${hostname}/bin/${id}/view`) #{id}

html 
  head 
    title Request8in 
    block scripts
    link(rel='stylesheet', href="/css/css.css", type="text/css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet")
    script(src=`${hostname}/scripts/create-bin.js`)
    script(src=`${hostname}/scripts/load-local-bins.js`)

body 
  .header
    .header-content
      a(href=`${hostname}`)
        h1 Request8in 
      h2 An HTTP Request Inspector
  
  .content
    block content 

  .sidebar 
    .sidebar-header
      a(href='/').create-bin-button
        img(src=`${hostname}/images/plus-purple.png` width="30px" height="30px  id="plus")
      h3 Your bins
    #sidebar-items

  .footer
    p ©Team8 2022


